{% extends "auctions/layout.html" %}

{% block body %}
    <div class="row mb-5">
        <h1>Active Listings</h1>
    </div>
        <hr>
    <!-- <div class="row row-cols-3 row-cols-md-4"> -->
    <div class="card-columns">
        
        {% for listing in listings %}
            {% include "auctions/listing_card.html" %}
        {% empty %}
            <p>There are currently no active listings. Would you like to <a href="{% url 'create' %}">create</a> one?</p>
        {% endfor %}
    </div>
   

{% endblock %}