{% extends "auctions/layout.html" %}

{% block body %}
    <div class="row py-5">

        <div class='col-md-8'>
            <img class="img-fluid" src="{{ listing.image_url }}" />
        </div>
        <div class='col-md-4 py-3'>
            <h1>{{ listing.name }}</h1>
            {% if listing_in_watchlist %}
                 <a class="btn btn-secondary" href="{% url 'add_to_watchlist' listing.id %}">Remove from Watchlist</a>
            {% else %}
                <a class="btn btn-secondary" href="{% url 'add_to_watchlist' listing.id %}">Add to Watchlist</a>
            {% endif %}
            <p>{{ listing.description}}</p>
            <h3><strong>${{ listing.price }}</strong></h3>
        </div>
        <div class='col-12 py-4'>
            <h3>Details</h3>
            <ul>
                <li> Listed By: <strong>{{ listing.listed_by }}</strong></li>
                <li> Category: <a href="#">{{ listing.get_category_display }}</a></li>
            </ul>
        </div>
    </div>
{% endblock %}