{% extends "auctions/layout.html" %}

{% block body %}
    <div class="row py-5">

        <div class='col-md-8'>
            <img class="img-fluid" src="{{ listing.image_url }}" />
        </div>
        <div class='col-md-4 py-3'>
            <div class="row">
                <h1>{{ listing.name }}</h1>
               
            </div>
             <h1><strong>${{ listing.price }}</strong></h1>
            {% if listing_in_watchlist %}
                <a href="{% url 'watchlist' %}" class="badge badge-primary">Watchlist</a>

                 <a class="btn btn-outline-secondary btn-sm" href="{% url 'remove_from_watchlist' listing.id %}">Remove from Watchlist</a>
            {% else %}
                <a class="btn btn-outline-secondary btn-sm" href="{% url 'add_to_watchlist' listing.id %}">Add to Watchlist</a>
            {% endif %}
            <div class="row py-5">
                <p>{{ listing.description}}</p>
           </div>
           <div class="row py-2">
                <form action="{% url 'listing' listing.id %}" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        {{ form.amount.errors }}
                        <small id="bidHelper" class="form-text text-muted">
                            {{ listing.bids.count }} Bid(s) so far.
                        </small>
                        {{ form.amount }}
                    </div>
                    <input type="submit" value="Bid" class="btn btn-primary">
                </form>
           </div>
        </div>
        <div class='col-12 py-4'>
            <h3>Details</h3>
            <ul>
                <li> Listed By: <strong>{{ listing.listed_by }}</strong></li>
                <li> Category: <a href="#">{{ listing.get_category_display }}</a></li>
            </ul>
        </div>
    </div>
{% endblock %}